mixin box(company, logo, time, featured, position, role, level, postedAt, contract, location, languages, tools)
  article.box
    img(src="./src/assets/"+logo)
    span.box__content
      span.box__content--title
        h1 #{company}
        ul
          if (time === true)
            li new!
          if (featured === true)
            li Featured
      h3=position
      ul.box__content--position
        li #{postedAt}
        li #{contract}
        li #{location}
    span.box__tool
      ul
        li#filter=role
        li#filter=level
        each value in languages
          li#filter #{value}
        each tool in tools
          li#filter #{tool}


//- &middot;