mixin box(company, logo, time, featured, position, role, level, postedAt, contract, location, languages, tools)
  .box
    span.box__rol
      img(src="/src/assets/images/"+logo)
      h2=company
      button=time
      button=featured
      h3=position
      h4=postedAt
      h4=contract
      h4=location
    span.box__tool
      h4=role
      h4=level
      h4=languages
      h4=tools
