mixin box(company, logo, time, featured, position, role, level, postedAt, contract, location, languages, tools)
  article.box
    img(src="/src/assets/images/"+logo)
    span.box__details
      h3 #{company} #{time} #{featured}
      h3=position
      h3 #{postedAt} &middot; #{contract} &middot; #{location}
    span.box__tool
      h4=role
      h4=level
      h4=languages
      h4=tools
